src/Resources/wsdl.xml

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="urn:PlatformApiWsdl"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/"
             name="PlatformApi"
             targetNamespace="urn:PlatformApiWsdl">

    <wsdl:documentation>
        Service: PlatformApi
        Version: v2_7
        Owner: LLC PIM
        Information: http://platform.api.pimpay.ru/
    </wsdl:documentation>

    <wsdl:types>
        <xsd:schema targetNamespace="urn:PlatformApiWsdl">
            <xsd:simpleType name="tinType">
                <xsd:restriction base="xsd:string">

                    <xsd:pattern value="[0-9]{10,12}"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="mobileType">
                <xsd:restriction base="xsd:string">

                    <xsd:pattern value="\+\d{11}"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="uniformPimpayDeliveryStatusType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="pending"/>
                    <xsd:enumeration value="prepared"/>
                    <xsd:enumeration value="intransit"/>
                    <xsd:enumeration value="stored"/>
                    <xsd:enumeration value="delivered"/>
                    <xsd:enumeration value="partialReturn"/>
                    <xsd:enumeration value="return"/>
                    <xsd:enumeration value="lost"/>
                    <xsd:enumeration value="error"/>
                    <xsd:enumeration value="unknown"/>

                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="russianPostIdType">
                <xsd:restriction base="xsd:string">

                    <xsd:pattern value="([A-Z]{2}\d{9}[A-Z]{2})|(\d{14})"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="currencyType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="RUB"/>
                    <xsd:enumeration value="KZT"/>
                    <xsd:enumeration value="USD"/>
                    <xsd:enumeration value="EUR"/>
                    <xsd:enumeration value="GBP"/>
                    <xsd:enumeration value="CNY"/>
                    <xsd:enumeration value="BYN"/>
                    <xsd:enumeration value="UAH"/>
                    <xsd:enumeration value="KGS"/>
                    <xsd:enumeration value="AMD"/>
                    <xsd:enumeration value="TRY"/>
                    <xsd:enumeration value="THB"/>

                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="moneyRecipientType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="delivery_service"/>
                    <xsd:enumeration value="client"/>
                    <xsd:enumeration value="pimpay"/>
                    <xsd:enumeration value="mobi"/>

                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="deliveryServiceType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="logibox"/>
                    <xsd:enumeration value="pek"/>
                    <xsd:enumeration value="axiomus"/>
                    <xsd:enumeration value="b2cpl"/>
                    <xsd:enumeration value="boxberry"/>
                    <xsd:enumeration value="cse"/>
                    <xsd:enumeration value="dpd"/>
                    <xsd:enumeration value="ems"/>
                    <xsd:enumeration value="im_logistics"/>
                    <xsd:enumeration value="maxima_express"/>
                    <xsd:enumeration value="pick_point"/>
                    <xsd:enumeration value="pony"/>
                    <xsd:enumeration value="post"/>
                    <xsd:enumeration value="qiwi_post"/>
                    <xsd:enumeration value="sdek"/>
                    <xsd:enumeration value="beta"/>
                    <xsd:enumeration value="spsr"/>
                    <xsd:enumeration value="accord_post"/>
                    <xsd:enumeration value="beta_post"/>
                    <xsd:enumeration value="top_delivery"/>
                    <xsd:enumeration value="maxi_post"/>
                    <xsd:enumeration value="reworker"/>
                    <xsd:enumeration value="shop_logistics"/>
                    <xsd:enumeration value="hermes"/>
                    <xsd:enumeration value="lenod"/>
                    <xsd:enumeration value="aplix"/>
                    <xsd:enumeration value="kit"/>
                    <xsd:enumeration value="fsd"/>
                    <xsd:enumeration value="great_express"/>
                    <xsd:enumeration value="vestovoy"/>
                    <xsd:enumeration value="shiptor"/>
                    <xsd:enumeration value="logsis"/>
                    <xsd:enumeration value="global_delivery"/>
                    <xsd:enumeration value="index_express"/>
                    <xsd:enumeration value="algocom"/>
                    <xsd:enumeration value="expost"/>

                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="verificationStatusType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="pending"/>
                    <xsd:enumeration value="matched"/>
                    <xsd:enumeration value="discarded"/>

                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="AcceptClientParams">
                <xsd:all>
                    <xsd:element name="legalEntityName" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="tin" type="tns:tinType" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="agreement" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="shopName" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="email" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="mobile" type="tns:mobileType" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="extra" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                </xsd:all>

            </xsd:complexType>
            <xsd:complexType name="ClientInfo">
                <xsd:all>
                    <xsd:element name="tin" type="tns:tinType" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="status" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="isMoneyTransferPossible" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="isActive" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="paymentOrderPurpose" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="ordersCount" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
                </xsd:all>

            </xsd:complexType>
            <xsd:complexType name="OrdersStates">
                <xsd:complexContent>
                    <xsd:restriction base="soap-enc:Array">
                        <xsd:attribute ref="soap-enc:arrayType" wsdl:arrayType="tns:OrderState[]"/>
                    </xsd:restriction>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="OrderState">
                <xsd:all>
                    <xsd:element name="id" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="cost" type="xsd:float" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="uniformPimpayDeliveryStatus" type="tns:uniformPimpayDeliveryStatusType" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="customDeliveryStatus" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="deliveryServiceDeliveryStatus" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="time" type="xsd:dateTime" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="items" type="tns:OrderItemsStates" minOccurs="0" maxOccurs="1"/>
                </xsd:all>

            </xsd:complexType>
            <xsd:complexType name="Orders">
                <xsd:complexContent>
                    <xsd:restriction base="soap-enc:Array">
                        <xsd:attribute ref="soap-enc:arrayType" wsdl:arrayType="tns:Order[]"/>
                    </xsd:restriction>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="Order">
                <xsd:all>
                    <xsd:element name="id" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="tin" type="tns:tinType" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="shopExternalId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="base" type="tns:OrderBase" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="createdAt" type="xsd:dateTime" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="destinationAddress" type="tns:Address" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="originAddress" type="tns:Address" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="recipient" type="tns:Recipient" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="items" type="tns:OrderItems" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="agreement" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="f103" type="tns:F103" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="moneyRecipient" type="tns:moneyRecipientType" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="claim" type="tns:Claim" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="deliveryTimeInDays" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="returnInfo" type="tns:OrderReturnInfo" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="recipientNotification" type="tns:RecipientNotification" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="deliveryDetails" type="tns:DeliveryDetails" minOccurs="0" maxOccurs="1"/>
                </xsd:all>

            </xsd:complexType>
            <xsd:complexType name="OrderBase">
                <xsd:sequence>
                    <xsd:element name="postId" type="tns:russianPostIdType" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="params" type="tns:OrderParams" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>

            </xsd:complexType>
            <xsd:complexType name="OrderParams">
                <xsd:all>
                    <xsd:element name="currency" type="tns:currencyType" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="paymentFromRecipient" type="xsd:float" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="declaredOrderCost" type="xsd:float" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="estimatedDeliveryCost" type="xsd:float" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="deliveryService" type="tns:deliveryServiceType" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="deliveryServiceExternalId" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="uniformPimpayDeliveryStatus" type="tns:uniformPimpayDeliveryStatusType" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="customDeliveryStatus" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="deliveryServiceDeliveryStatus" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="originSender" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="paymentMethod" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="returnUtilization" type="xsd:boolean"/>
                    <xsd:element name="history" type="tns:DeliveryStatusHistoryItems" minOccurs="1" maxOccurs="1"/>
                </xsd:all>

            </xsd:complexType>
            <xsd:complexType name="Address">
                <xsd:all>
                    <xsd:element name="full" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="zipcode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="city" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="cityId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="kladr" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="fias" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="region" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                </xsd:all>

            </xsd:complexType>
            <xsd:complexType name="Recipient">
                <xsd:all>
                    <xsd:element name="fio" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="phone" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="email" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                </xsd:all>

            </xsd:complexType>
            <xsd:complexType name="OrderItems">
                <xsd:complexContent>
                    <xsd:restriction base="soap-enc:Array">
                        <xsd:attribute ref="soap-enc:arrayType" wsdl:arrayType="tns:OrderItem[]"/>
                    </xsd:restriction>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="OrderItem">
                <xsd:all>
                    <xsd:element name="id" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="sku" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="value" type="xsd:float" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="cost" type="xsd:float" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="count" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="weight" type="xsd:float" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="length" type="xsd:float" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="width" type="xsd:float" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="height" type="xsd:float" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="vatValue" type="tns:VatValueType" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="category" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="status" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                </xsd:all>

            </xsd:complexType>
            <xsd:complexType name="OrderItemsStates">
                <xsd:complexContent>
                    <xsd:restriction base="soap-enc:Array">
                        <xsd:attribute ref="soap-enc:arrayType" wsdl:arrayType="tns:OrderItemState[]"/>
                    </xsd:restriction>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="OrderItemState">
                <xsd:all>
                    <xsd:element name="id" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="status" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                </xsd:all>

            </xsd:complexType>
            <xsd:complexType name="F103">
                <xsd:all>
                    <xsd:element name="number" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="date" type="xsd:date" minOccurs="1" maxOccurs="1"/>
                </xsd:all>

            </xsd:complexType>
            <xsd:complexType name="Claim">
                <xsd:all>
                    <xsd:element name="termType" type="tns:ClaimTermType" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="paymentSum" type="xsd:float" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="paymentDate" type="xsd:date" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="tin" type="tns:tinType" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="contractPartyName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="contractNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="contractDate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="disableService" type="xsd:boolean"/>
                </xsd:all>

            </xsd:complexType>
            <xsd:complexType name="DeliveryDetails">
                <xsd:all>
                    <xsd:element name="tariffPlan" type="xsd:string"/>
                    <xsd:element name="deliveryMethod" type="tns:DeliveryMethod"/>
                    <xsd:element name="agreedDeliveryDateReason" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="agreedDeliveryStartTime" type="xsd:dateTime" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="agreedDeliveryEndTime" type="xsd:dateTime" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="tariffDateEnd" type="xsd:date" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="freeStorageDateEnd" type="xsd:date" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="failReason" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="canBeChanged" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="deliveryDelayReasonHistoryItems" type="tns:DeliveryDelayReasonHistoryItems" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="receiverStockSchedule" type="tns:ReceiverStockSchedule" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="callsHistory" type="tns:CallsHistory" minOccurs="0" maxOccurs="1"/>
                </xsd:all>

            </xsd:complexType>
            <xsd:complexType name="CallsHistory">
                <xsd:all>
                    <xsd:element name="goodCallsHistory" type="tns:GoodCallHistoryItems" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="failCallsHistory" type="tns:FailCallHistoryItems" minOccurs="0" maxOccurs="1"/>
                </xsd:all>

            </xsd:complexType>
            <xsd:complexType name="GoodCallHistoryItems">
                <xsd:complexContent>
                    <xsd:restriction base="soap-enc:Array">
                        <xsd:attribute ref="soap-enc:arrayType" wsdl:arrayType="tns:GoodCallHistoryItem[]"/>
                    </xsd:restriction>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="FailCallHistoryItems">
                <xsd:complexContent>
                    <xsd:restriction base="soap-enc:Array">
                        <xsd:attribute ref="soap-enc:arrayType" wsdl:arrayType="tns:FailCallHistoryItem[]"/>
                    </xsd:restriction>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="ReceiverStockSchedule">
                <xsd:complexContent>
                    <xsd:restriction base="soap-enc:Array">
                        <xsd:attribute ref="soap-enc:arrayType" wsdl:arrayType="tns:ReceiverStockScheduleItem[]"/>
                    </xsd:restriction>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="DeliveryDelayReasonHistoryItems">
                <xsd:complexContent>
                    <xsd:restriction base="soap-enc:Array">
                        <xsd:attribute ref="soap-enc:arrayType" wsdl:arrayType="tns:DeliveryDelayReasonHistoryItem[]"/>
                    </xsd:restriction>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="GoodCallHistoryItem">
                <xsd:all>
                    <xsd:element name="dateCall" type="xsd:dateTime" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="deliveryDate" type="xsd:date" minOccurs="0" maxOccurs="1"/>
                </xsd:all>

            </xsd:complexType>
            <xsd:complexType name="FailCallHistoryItem">
                <xsd:all>
                    <xsd:element name="dateCall" type="xsd:dateTime" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="reasonCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="reasonDescription" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                </xsd:all>

            </xsd:complexType>
            <xsd:complexType name="ReceiverStockScheduleItem">
                <xsd:all>
                    <xsd:element name="weekdayBegin" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="weekdayEnd" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="worktimeBegin" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="worktimeEnd" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                </xsd:all>

            </xsd:complexType>
            <xsd:complexType name="DeliveryDelayReasonHistoryItem">
                <xsd:all>
                    <xsd:element name="date" type="xsd:date" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="code" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="reason" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                </xsd:all>

            </xsd:complexType>
            <xsd:simpleType name="DeliveryMethod">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="pickup_point"/>
                    <xsd:enumeration value="courier"/>
                    <xsd:enumeration value="postamat"/>

                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="DeliveryStatusHistoryItems">
                <xsd:complexContent>
                    <xsd:restriction base="soap-enc:Array">
                        <xsd:attribute ref="soap-enc:arrayType" wsdl:arrayType="tns:DeliveryStatusHistoryItem[]"/>
                    </xsd:restriction>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="DeliveryStatusHistoryItem">
                <xsd:all>
                    <xsd:element name="time" type="xsd:dateTime" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="uniformPimpayDeliveryStatus" type="tns:uniformPimpayDeliveryStatusType" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="customDeliveryStatus" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="deliveryServiceDeliveryStatus" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="cityCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                </xsd:all>

            </xsd:complexType>
            <xsd:complexType name="OrderReturnInfo">
                <xsd:all>
                    <xsd:element name="isReturn" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="originOrderId" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:all>

            </xsd:complexType>
            <xsd:complexType name="RecipientNotification">
                <xsd:all>
                    <xsd:element name="enable" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="metadata" type="tns:RecipientNotificationData" minOccurs="0" maxOccurs="1"/>
                </xsd:all>

            </xsd:complexType>
            <xsd:complexType name="RecipientNotificationData">
                <xsd:all>
                    <xsd:element name="sku" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                </xsd:all>

            </xsd:complexType>
            <xsd:complexType name="UpsertResultResponse">
                <xsd:all>
                    <xsd:element name="count" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="orders" type="tns:UpsertResultItems" minOccurs="1" maxOccurs="1"/>
                </xsd:all>

            </xsd:complexType>
            <xsd:complexType name="UpsertResultItems">
                <xsd:complexContent>
                    <xsd:restriction base="soap-enc:Array">
                        <xsd:attribute ref="soap-enc:arrayType" wsdl:arrayType="tns:UpsertResultItem[]"/>
                    </xsd:restriction>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="UpsertResultItem">
                <xsd:all>
                    <xsd:element name="id" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="status" type="tns:UpsertResultStatus" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="errorMessage" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                </xsd:all>

            </xsd:complexType>
            <xsd:simpleType name="UpsertResultStatus">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="ok"/>
                    <xsd:enumeration value="error"/>

                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="ClaimTermType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="reg"/>
                    <xsd:enumeration value="fed"/>

                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="VatValueType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="vat_20"/>
                    <xsd:enumeration value="vat_18"/>
                    <xsd:enumeration value="vat_10"/>
                    <xsd:enumeration value="vat_0"/>
                    <xsd:enumeration value="vat_no"/>

                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="UpdateStateResultResponse">
                <xsd:all>
                    <xsd:element name="count" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="orders" type="tns:UpdateStateResultItems" minOccurs="1" maxOccurs="1"/>
                </xsd:all>

            </xsd:complexType>
            <xsd:complexType name="UpdateStateResultItems">
                <xsd:complexContent>
                    <xsd:restriction base="soap-enc:Array">
                        <xsd:attribute ref="soap-enc:arrayType" wsdl:arrayType="tns:UpdateStateResultItem[]"/>
                    </xsd:restriction>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="UpdateStateResultItem">
                <xsd:all>
                    <xsd:element name="id" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="status" type="tns:UpdateStateResultStatus" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="errorMessage" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                </xsd:all>

            </xsd:complexType>
            <xsd:simpleType name="UpdateStateResultStatus">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="ok"/>
                    <xsd:enumeration value="error"/>

                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="PaymentOrder">
                <xsd:all>
                    <xsd:element name="num" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="date" type="xsd:date" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="sum" type="xsd:float" minOccurs="1" maxOccurs="1"/>
                </xsd:all>

            </xsd:complexType>
            <xsd:complexType name="VerificationRows">
                <xsd:complexContent>
                    <xsd:restriction base="soap-enc:Array">
                        <xsd:attribute ref="soap-enc:arrayType" wsdl:arrayType="tns:VerificationRow[]"/>
                    </xsd:restriction>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="VerificationRow">
                <xsd:sequence>
                    <xsd:element name="txs" type="tns:CustomTransactions" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="a_oid" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="a_ptp" type="xsd:float" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="a_pfr" type="xsd:float" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="a_dc" type="xsd:float" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="a_cs" type="xsd:float" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="a_ins" type="xsd:float" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="a_tsc" type="xsd:float" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>

                <xsd:attribute name="oid" type="xsd:string" use="required"/>
                <xsd:attribute name="ptp" type="xsd:float" use="required"/>
                <xsd:attribute name="pfr" type="xsd:float"/>
                <xsd:attribute name="dc" type="xsd:float"/>
                <xsd:attribute name="cs" type="xsd:float"/>
                <xsd:attribute name="ins" type="xsd:float"/>
                <xsd:attribute name="tsc" type="xsd:float"/>
            </xsd:complexType>
            <xsd:complexType name="CustomTransactions">
                <xsd:complexContent>
                    <xsd:restriction base="soap-enc:Array">
                        <xsd:attribute ref="soap-enc:arrayType" wsdl:arrayType="tns:CustomTransaction[]"/>
                    </xsd:restriction>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="CustomTransaction">
                <xsd:all>
                </xsd:all>

                <xsd:attribute name="val" type="xsd:float" use="required"/>
                <xsd:attribute name="cmt" type="xsd:string" use="required"/>
            </xsd:complexType>
            <xsd:complexType name="VerificationStatusResponse">
                <xsd:all>
                    <xsd:element name="id" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="status" type="tns:verificationStatusType" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="errors" type="tns:VerificationErrors" minOccurs="0" maxOccurs="1"/>
                </xsd:all>

            </xsd:complexType>
            <xsd:complexType name="VerificationErrors">
                <xsd:complexContent>
                    <xsd:restriction base="soap-enc:Array">
                        <xsd:attribute ref="soap-enc:arrayType" wsdl:arrayType="tns:VerificationError[]"/>
                    </xsd:restriction>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="VerificationError">
                <xsd:all>
                    <xsd:element name="message" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                </xsd:all>

            </xsd:complexType>
            <xsd:complexType name="RussianPostPaymentsResponse">
                <xsd:all>
                    <xsd:element name="tin" type="tns:tinType" minOccurs="1"/>
                    <xsd:element name="russianPostPaymentsInfo" type="tns:RussianPostPaymentsInfo" minOccurs="0" maxOccurs="1"/>
                </xsd:all>

            </xsd:complexType>
            <xsd:complexType name="RussianPostClaimAnswersResponse">
                <xsd:all>
                    <xsd:element name="tin" type="tns:tinType" minOccurs="1"/>
                    <xsd:element name="russianPostClaimAnswersInfo" type="tns:RussianPostClaimAnswersInfo" minOccurs="0" maxOccurs="1"/>
                </xsd:all>

            </xsd:complexType>
            <xsd:complexType name="RussianPostPaymentsInfo">
                <xsd:complexContent>
                    <xsd:restriction base="soap-enc:Array">
                        <xsd:attribute ref="soap-enc:arrayType" wsdl:arrayType="tns:RussianPostPaymentInfo[]"/>
                    </xsd:restriction>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="RussianPostPaymentInfo">
                <xsd:all>
                    <xsd:element name="id" type="xsd:string"
                    />
                    <xsd:element name="postId" type="tns:russianPostIdType" minOccurs="1"/>
                    <xsd:element name="payments" type="tns:RussianPostPayments" minOccurs="0" maxOccurs="1"/>
                </xsd:all>

            </xsd:complexType>
            <xsd:complexType name="RussianPostClaimAnswersInfo">
                <xsd:complexContent>
                    <xsd:restriction base="soap-enc:Array">
                        <xsd:attribute ref="soap-enc:arrayType" wsdl:arrayType="tns:RussianPostClaimAnswerInfo[]"/>
                    </xsd:restriction>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="RussianPostClaimAnswerInfo">
                <xsd:all>
                    <xsd:element name="id" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="postId" type="tns:russianPostIdType" minOccurs="1"/>
                    <xsd:element name="isFound" type="xsd:boolean" minOccurs="1"/>
                    <xsd:element name="inClaim" type="xsd:boolean" minOccurs="1"/>
                    <xsd:element name="decision" type="xsd:string"
                    />
                    <xsd:element name="decisionCode" type="tns:decisionCodeType"
                    />
                    <xsd:element name="claimedAt" type="xsd:string"
                    />
                    <xsd:element name="details" type="tns:Details"
                    />
                </xsd:all>

            </xsd:complexType>
            <xsd:complexType name="tins">
                <xsd:complexContent>
                    <xsd:restriction base="soap-enc:Array">
                        <xsd:attribute ref="soap-enc:arrayType" wsdl:arrayType="tns:tinType[]"/>
                    </xsd:restriction>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="ClientsBalanceInfoResponse">
                <xsd:all>
                    <xsd:element name="balances" type="tns:ClientBalanceInfoItems" minOccurs="0" maxOccurs="1"/>
                </xsd:all>

            </xsd:complexType>
            <xsd:complexType name="ClientBalanceInfoItems">
                <xsd:complexContent>
                    <xsd:restriction base="soap-enc:Array">
                        <xsd:attribute ref="soap-enc:arrayType" wsdl:arrayType="tns:ClientBalanceInfoItem[]"/>
                    </xsd:restriction>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="ClientBalanceInfoItem">
                <xsd:all>
                    <xsd:element name="status" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="tin" type="tns:tinType" minOccurs="0"/>
                    <xsd:element name="legalEntityName" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="customerBalance" type="xsd:float" minOccurs="0"/>
                    <xsd:element name="depositBalance" type="xsd:float" minOccurs="0"/>
                </xsd:all>

            </xsd:complexType>
            <xsd:simpleType name="decisionCodeType">
                <xsd:restriction base="xsd:integer">
                    <xsd:enumeration value="1"/>
                    <xsd:enumeration value="2"/>
                    <xsd:enumeration value="3"/>
                    <xsd:enumeration value="4"/>
                    <xsd:enumeration value="5"/>
                    <xsd:enumeration value="6"/>
                    <xsd:enumeration value="7"/>
                    <xsd:enumeration value="0"/>

                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="RussianPostPayments">
                <xsd:complexContent>
                    <xsd:restriction base="soap-enc:Array">
                        <xsd:attribute ref="soap-enc:arrayType" wsdl:arrayType="tns:RussianPostPayment[]"/>
                    </xsd:restriction>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="Details">
                <xsd:complexContent>
                    <xsd:restriction base="soap-enc:Array">
                        <xsd:attribute ref="soap-enc:arrayType" wsdl:arrayType="tns:KeyValuePair[]"/>
                    </xsd:restriction>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="RussianPostPayment">
                <xsd:all>
                    <xsd:element name="sum" type="xsd:float"
                    />
                    <xsd:element name="paymentDate" type="xsd:dateTime" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="registeredAt" type="xsd:dateTime" minOccurs="1" maxOccurs="1"/>
                </xsd:all>

            </xsd:complexType>
            <xsd:complexType name="PostIds">
                <xsd:complexContent>
                    <xsd:restriction base="soap-enc:Array">
                        <xsd:attribute ref="soap-enc:arrayType" wsdl:arrayType="tns:russianPostIdType[]"/>
                    </xsd:restriction>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="KeyValuePair">
                <xsd:all>
                    <xsd:element name="key" type="xsd:string"
                    />
                    <xsd:element name="value" type="xsd:string"
                    />
                </xsd:all>

            </xsd:complexType>
            <xsd:complexType name="RequestedPayments">
                <xsd:complexContent>
                    <xsd:restriction base="soap-enc:Array">
                        <xsd:attribute ref="soap-enc:arrayType" wsdl:arrayType="tns:RequestedPayment[]"/>
                    </xsd:restriction>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="RequestedPayment">
                <xsd:all>
                    <xsd:element name="externalId" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="tin" type="tns:tinType" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="amount" type="xsd:float" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="purposeOfPayment" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="comment" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="vatValue" type="tns:VatValueType" minOccurs="0" maxOccurs="1"/>
                </xsd:all>

            </xsd:complexType>
            <xsd:complexType name="RejectedPayments">
                <xsd:complexContent>
                    <xsd:restriction base="soap-enc:Array">
                        <xsd:attribute ref="soap-enc:arrayType" wsdl:arrayType="tns:RejectedPayment[]"/>
                    </xsd:restriction>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="RejectedPayment">
                <xsd:all>
                    <xsd:element name="id" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
                </xsd:all>

            </xsd:complexType>
            <xsd:complexType name="PaymentProcessResultResponse">
                <xsd:all>
                    <xsd:element name="count" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="payments" type="tns:PaymentProcessResultItems" minOccurs="1" maxOccurs="1"/>
                </xsd:all>

            </xsd:complexType>
            <xsd:complexType name="PaymentProcessResultItems">
                <xsd:complexContent>
                    <xsd:restriction base="soap-enc:Array">
                        <xsd:attribute ref="soap-enc:arrayType" wsdl:arrayType="tns:PaymentProcessResultItem[]"/>
                    </xsd:restriction>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="PaymentProcessResultItem">
                <xsd:all>
                    <xsd:element name="id" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="externalId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="status" type="tns:PaymentProcessResultStatus" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="errorMessage" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                </xsd:all>

            </xsd:complexType>
            <xsd:simpleType name="PaymentProcessResultStatus">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="ok"/>
                    <xsd:enumeration value="error"/>

                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="PaymentInfoResultResponse">
                <xsd:all>
                    <xsd:element name="count" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="payments" type="tns:PaymentInfoResultItems" minOccurs="1" maxOccurs="1"/>
                </xsd:all>

            </xsd:complexType>
            <xsd:complexType name="PaymentInfoResultItems">
                <xsd:complexContent>
                    <xsd:restriction base="soap-enc:Array">
                        <xsd:attribute ref="soap-enc:arrayType" wsdl:arrayType="tns:PaymentInfoResultItem[]"/>
                    </xsd:restriction>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="PaymentInfoResultItem">
                <xsd:all>
                    <xsd:element name="id" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="externalId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="tin" type="tns:tinType" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="amount" type="xsd:float" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="paymentSum" type="xsd:float" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="feeSum" type="xsd:float" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="status" type="tns:PaymentInfoResultStatus" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="purposeOfPayment" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="comment" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="vatValue" type="tns:VatValueType" minOccurs="0" maxOccurs="1"/>
                </xsd:all>

            </xsd:complexType>
            <xsd:simpleType name="PaymentInfoResultStatus">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="draft"/>
                    <xsd:enumeration value="pending"/>
                    <xsd:enumeration value="sent_waiting_bank_approval"/>
                    <xsd:enumeration value="declined"/>
                    <xsd:enumeration value="complete"/>

                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="DeliveryServiceInfoResultResponse">
                <xsd:all>
                    <xsd:element name="count" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="deliveryServices" type="tns:DeliveryServiceInfoResultItems" minOccurs="1" maxOccurs="1"/>
                </xsd:all>

            </xsd:complexType>
            <xsd:complexType name="DeliveryServiceInfoResultItems">
                <xsd:complexContent>
                    <xsd:restriction base="soap-enc:Array">
                        <xsd:attribute ref="soap-enc:arrayType" wsdl:arrayType="tns:DeliveryServiceInfoResultItem[]"/>
                    </xsd:restriction>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="DeliveryServiceInfoResultItem">
                <xsd:all>
                    <xsd:element name="code" type="tns:deliveryServiceType" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="title" type="xsd:string" minOccurs="0"/>
                </xsd:all>

            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="acceptClientRequest">
        <wsdl:part name="token" type="xsd:string"/>
        <wsdl:part name="client" type="tns:AcceptClientParams"/>
    </wsdl:message>
    <wsdl:message name="acceptClientResponse">
        <wsdl:part name="clientInfo" type="tns:ClientInfo"/>
    </wsdl:message>
    <wsdl:message name="getClientRequest">
        <wsdl:part name="token" type="xsd:string"/>
        <wsdl:part name="tin" type="tns:tinType"/>
    </wsdl:message>
    <wsdl:message name="getClientResponse">
        <wsdl:part name="clientInfo" type="tns:ClientInfo"/>
    </wsdl:message>
    <wsdl:message name="upsertOrdersRequest">
        <wsdl:part name="token" type="xsd:string"/>
        <wsdl:part name="orders" type="tns:Orders"/>
    </wsdl:message>
    <wsdl:message name="upsertOrdersResponse">
        <wsdl:part name="result" type="tns:UpsertResultResponse"/>
    </wsdl:message>
    <wsdl:message name="upsertHistoricalOrdersRequest">
        <wsdl:part name="token" type="xsd:string"/>
        <wsdl:part name="orders" type="tns:Orders"/>
    </wsdl:message>
    <wsdl:message name="upsertHistoricalOrdersResponse">
        <wsdl:part name="result" type="tns:UpsertResultResponse"/>
    </wsdl:message>
    <wsdl:message name="updateStateForOrdersRequest">
        <wsdl:part name="token" type="xsd:string"/>
        <wsdl:part name="ordersStates" type="tns:OrdersStates"/>
    </wsdl:message>
    <wsdl:message name="updateStateForOrdersResponse">
        <wsdl:part name="result" type="tns:UpdateStateResultResponse"/>
    </wsdl:message>
    <wsdl:message name="sendVerificationRequest">
        <wsdl:part name="token" type="xsd:string"/>
        <wsdl:part name="tin" type="tns:tinType"/>
        <wsdl:part name="id" type="xsd:string"/>
        <wsdl:part name="paymentOrder" type="tns:PaymentOrder"/>
        <wsdl:part name="rows" type="tns:VerificationRows"/>
    </wsdl:message>
    <wsdl:message name="sendVerificationResponse">
        <wsdl:part name="result" type="xsd:boolean"/>
    </wsdl:message>
    <wsdl:message name="getVerificationStatusRequest">
        <wsdl:part name="token" type="xsd:string"/>
        <wsdl:part name="id" type="xsd:string"/>
    </wsdl:message>
    <wsdl:message name="getVerificationStatusResponse">
        <wsdl:part name="result" type="tns:VerificationStatusResponse"/>
    </wsdl:message>
    <wsdl:message name="testHeaderSignatureRequest">
        <wsdl:part name="token" type="xsd:string"/>
    </wsdl:message>
    <wsdl:message name="testHeaderSignatureResponse">
        <wsdl:part name="isVerified" type="xsd:boolean"/>
    </wsdl:message>
    <wsdl:message name="invokeUsingContainerRequest">
        <wsdl:part name="token" type="xsd:string"/>
        <wsdl:part name="requestContainer" type="xsd:string"/>
        <wsdl:part name="requestSignature" type="xsd:string"/>
    </wsdl:message>
    <wsdl:message name="invokeUsingContainerResponse">
        <wsdl:part name="responseContainer" type="xsd:string"/>
    </wsdl:message>
    <wsdl:message name="testContainerSignatureRequest">
        <wsdl:part name="token" type="xsd:string"/>
        <wsdl:part name="container" type="xsd:string"/>
        <wsdl:part name="signature" type="xsd:string"/>
    </wsdl:message>
    <wsdl:message name="testContainerSignatureResponse">
        <wsdl:part name="isVerified" type="xsd:boolean"/>
    </wsdl:message>
    <wsdl:message name="getRussianPostPaymentsRequest">
        <wsdl:part name="token" type="xsd:string"/>
        <wsdl:part name="tin" type="tns:tinType"/>
        <wsdl:part name="postIds" type="tns:PostIds"/>
    </wsdl:message>
    <wsdl:message name="getRussianPostPaymentsResponse">
        <wsdl:part name="result" type="tns:RussianPostPaymentsResponse"/>
    </wsdl:message>
    <wsdl:message name="getRussianPostClaimAnswersRequest">
        <wsdl:part name="token" type="xsd:string"/>
        <wsdl:part name="tin" type="tns:tinType"/>
        <wsdl:part name="postIds" type="tns:PostIds"/>
    </wsdl:message>
    <wsdl:message name="getRussianPostClaimAnswersResponse">
        <wsdl:part name="result" type="tns:RussianPostClaimAnswersResponse"/>
    </wsdl:message>
    <wsdl:message name="getClientsBalanceRequest">
        <wsdl:part name="token" type="xsd:string"/>
        <wsdl:part name="tins" type="tns:tins"/>
    </wsdl:message>
    <wsdl:message name="getClientsBalanceResponse">
        <wsdl:part name="result" type="tns:ClientsBalanceInfoResponse"/>
    </wsdl:message>
    <wsdl:message name="requestPaymentsRequest">
        <wsdl:part name="token" type="xsd:string"/>
        <wsdl:part name="payments" type="tns:RequestedPayments"/>
    </wsdl:message>
    <wsdl:message name="requestPaymentsResponse">
        <wsdl:part name="result" type="tns:PaymentProcessResultResponse"/>
    </wsdl:message>
    <wsdl:message name="rejectPaymentsRequest">
        <wsdl:part name="token" type="xsd:string"/>
        <wsdl:part name="payments" type="tns:RejectedPayments"/>
    </wsdl:message>
    <wsdl:message name="rejectPaymentsResponse">
        <wsdl:part name="result" type="tns:PaymentProcessResultResponse"/>
    </wsdl:message>
    <wsdl:message name="getRequestedPaymentsRequest">
        <wsdl:part name="token" type="xsd:string"/>
    </wsdl:message>
    <wsdl:message name="getRequestedPaymentsResponse">
        <wsdl:part name="result" type="tns:PaymentInfoResultResponse"/>
    </wsdl:message>
    <wsdl:message name="getDeliveryServicesRequest">
        <wsdl:part name="token" type="xsd:string"/>
    </wsdl:message>
    <wsdl:message name="getDeliveryServicesResponse">
        <wsdl:part name="result" type="tns:DeliveryServiceInfoResultResponse"/>
    </wsdl:message>

    <wsdl:portType name="PlatformApiPortType">
        <wsdl:documentation>  PimPay API   </wsdl:documentation>
        <wsdl:operation name="acceptClient">
            <wsdl:documentation>     PimPay</wsdl:documentation>
            <wsdl:input message="tns:acceptClientRequest"/>
            <wsdl:output message="tns:acceptClientResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getClient">
            <wsdl:documentation>  </wsdl:documentation>
            <wsdl:input message="tns:getClientRequest"/>
            <wsdl:output message="tns:getClientResponse"/>
        </wsdl:operation>
        <wsdl:operation name="upsertOrders">
            <wsdl:documentation>/   </wsdl:documentation>
            <wsdl:input message="tns:upsertOrdersRequest"/>
            <wsdl:output message="tns:upsertOrdersResponse"/>
        </wsdl:operation>
        <wsdl:operation name="upsertHistoricalOrders">
            <wsdl:documentation>/    </wsdl:documentation>
            <wsdl:input message="tns:upsertHistoricalOrdersRequest"/>
            <wsdl:output message="tns:upsertHistoricalOrdersResponse"/>
        </wsdl:operation>
        <wsdl:operation name="updateStateForOrders">
            <wsdl:documentation>      (/)</wsdl:documentation>
            <wsdl:input message="tns:updateStateForOrdersRequest"/>
            <wsdl:output message="tns:updateStateForOrdersResponse"/>
        </wsdl:operation>
        <wsdl:operation name="sendVerification">
            <wsdl:documentation> </wsdl:documentation>
            <wsdl:input message="tns:sendVerificationRequest"/>
            <wsdl:output message="tns:sendVerificationResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getVerificationStatus">
            <wsdl:documentation>   </wsdl:documentation>
            <wsdl:input message="tns:getVerificationStatusRequest"/>
            <wsdl:output message="tns:getVerificationStatusResponse"/>
        </wsdl:operation>
        <wsdl:operation name="testHeaderSignature">
            <wsdl:documentation>   ,   SOAP-</wsdl:documentation>
            <wsdl:input message="tns:testHeaderSignatureRequest"/>
            <wsdl:output message="tns:testHeaderSignatureResponse"/>
        </wsdl:operation>
        <wsdl:operation name="invokeUsingContainer">
            <wsdl:documentation>      base64-,     
            </wsdl:documentation>
            <wsdl:input message="tns:invokeUsingContainerRequest"/>
            <wsdl:output message="tns:invokeUsingContainerResponse"/>
        </wsdl:operation>
        <wsdl:operation name="testContainerSignature">
            <wsdl:documentation>   ,   </wsdl:documentation>
            <wsdl:input message="tns:testContainerSignatureRequest"/>
            <wsdl:output message="tns:testContainerSignatureResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getRussianPostPayments">
            <wsdl:documentation>        </wsdl:documentation>
            <wsdl:input message="tns:getRussianPostPaymentsRequest"/>
            <wsdl:output message="tns:getRussianPostPaymentsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getRussianPostClaimAnswers">
            <wsdl:documentation>           
            </wsdl:documentation>
            <wsdl:input message="tns:getRussianPostClaimAnswersRequest"/>
            <wsdl:output message="tns:getRussianPostClaimAnswersResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getClientsBalance">
            <wsdl:documentation>  </wsdl:documentation>
            <wsdl:input message="tns:getClientsBalanceRequest"/>
            <wsdl:output message="tns:getClientsBalanceResponse"/>
        </wsdl:operation>
        <wsdl:operation name="requestPayments">
            <wsdl:documentation>   </wsdl:documentation>
            <wsdl:input message="tns:requestPaymentsRequest"/>
            <wsdl:output message="tns:requestPaymentsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="rejectPayments">
            <wsdl:documentation>   </wsdl:documentation>
            <wsdl:input message="tns:rejectPaymentsRequest"/>
            <wsdl:output message="tns:rejectPaymentsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getRequestedPayments">
            <wsdl:documentation>    </wsdl:documentation>
            <wsdl:input message="tns:getRequestedPaymentsRequest"/>
            <wsdl:output message="tns:getRequestedPaymentsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getDeliveryServices">
            <wsdl:documentation>   </wsdl:documentation>
            <wsdl:input message="tns:getDeliveryServicesRequest"/>
            <wsdl:output message="tns:getDeliveryServicesResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="PlatformApiBinding" type="tns:PlatformApiPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="acceptClient">
            <soap:operation soapAction="urn:PlatformApiWsdl#acceptClient" style="rpc"/>
            <wsdl:input>
                <soap:body use="encoded" namespace="urn:PlatformApiWsdl"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="encoded" namespace="urn:PlatformApiWsdl"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getClient">
            <soap:operation soapAction="urn:PlatformApiWsdl#getClient" style="rpc"/>
            <wsdl:input>
                <soap:body use="encoded" namespace="urn:PlatformApiWsdl"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="encoded" namespace="urn:PlatformApiWsdl"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="upsertOrders">
            <soap:operation soapAction="urn:PlatformApiWsdl#upsertOrders" style="rpc"/>
            <wsdl:input>
                <soap:body use="encoded" namespace="urn:PlatformApiWsdl"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="encoded" namespace="urn:PlatformApiWsdl"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="upsertHistoricalOrders">
            <soap:operation soapAction="urn:PlatformApiWsdl#upsertHistoricalOrders" style="rpc"/>
            <wsdl:input>
                <soap:body use="encoded" namespace="urn:PlatformApiWsdl"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="encoded" namespace="urn:PlatformApiWsdl"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateStateForOrders">
            <soap:operation soapAction="urn:PlatformApiWsdl#updateStateForOrders" style="rpc"/>
            <wsdl:input>
                <soap:body use="encoded" namespace="urn:PlatformApiWsdl"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="encoded" namespace="urn:PlatformApiWsdl"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="sendVerification">
            <soap:operation soapAction="urn:PlatformApiWsdl#sendVerification" style="rpc"/>
            <wsdl:input>
                <soap:body use="encoded" namespace="urn:PlatformApiWsdl"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="encoded" namespace="urn:PlatformApiWsdl"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getVerificationStatus">
            <soap:operation soapAction="urn:PlatformApiWsdl#getVerificationStatus" style="rpc"/>
            <wsdl:input>
                <soap:body use="encoded" namespace="urn:PlatformApiWsdl"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="encoded" namespace="urn:PlatformApiWsdl"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="testHeaderSignature">
            <soap:operation soapAction="urn:PlatformApiWsdl#testHeaderSignature" style="rpc"/>
            <wsdl:input>
                <soap:body use="encoded" namespace="urn:PlatformApiWsdl"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="encoded" namespace="urn:PlatformApiWsdl"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="invokeUsingContainer">
            <soap:operation soapAction="urn:PlatformApiWsdl#invokeUsingContainer" style="rpc"/>
            <wsdl:input>
                <soap:body use="encoded" namespace="urn:PlatformApiWsdl"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="encoded" namespace="urn:PlatformApiWsdl"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="testContainerSignature">
            <soap:operation soapAction="urn:PlatformApiWsdl#testContainerSignature" style="rpc"/>
            <wsdl:input>
                <soap:body use="encoded" namespace="urn:PlatformApiWsdl"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="encoded" namespace="urn:PlatformApiWsdl"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getRussianPostPayments">
            <soap:operation soapAction="urn:PlatformApiWsdl#getRussianPostPayments" style="rpc"/>
            <wsdl:input>
                <soap:body use="encoded" namespace="urn:PlatformApiWsdl"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="encoded" namespace="urn:PlatformApiWsdl"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getRussianPostClaimAnswers">
            <soap:operation soapAction="urn:PlatformApiWsdl#getRussianPostClaimAnswers" style="rpc"/>
            <wsdl:input>
                <soap:body use="encoded" namespace="urn:PlatformApiWsdl"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="encoded" namespace="urn:PlatformApiWsdl"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getClientsBalance">
            <soap:operation soapAction="urn:PlatformApiWsdl#getClientsBalance" style="rpc"/>
            <wsdl:input>
                <soap:body use="encoded" namespace="urn:PlatformApiWsdl"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="encoded" namespace="urn:PlatformApiWsdl"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="requestPayments">
            <soap:operation soapAction="urn:PlatformApiWsdl#requestPayments" style="rpc"/>
            <wsdl:input>
                <soap:body use="encoded" namespace="urn:PlatformApiWsdl"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="encoded" namespace="urn:PlatformApiWsdl"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="rejectPayments">
            <soap:operation soapAction="urn:PlatformApiWsdl#rejectPayments" style="rpc"/>
            <wsdl:input>
                <soap:body use="encoded" namespace="urn:PlatformApiWsdl"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="encoded" namespace="urn:PlatformApiWsdl"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getRequestedPayments">
            <soap:operation soapAction="urn:PlatformApiWsdl#getRequestedPayments" style="rpc"/>
            <wsdl:input>
                <soap:body use="encoded" namespace="urn:PlatformApiWsdl"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="encoded" namespace="urn:PlatformApiWsdl"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getDeliveryServices">
            <soap:operation soapAction="urn:PlatformApiWsdl#getDeliveryServices" style="rpc"/>
            <wsdl:input>
                <soap:body use="encoded" namespace="urn:PlatformApiWsdl"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="encoded" namespace="urn:PlatformApiWsdl"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="PlatformApiService">
        <wsdl:port name="PlatformApiPort" binding="tns:PlatformApiBinding">
<!--            <soap:address location="http://platform.api.pimpay.ru/v2_7/soap/invoke"/>-->
            <soap:address location="https://platform.api.platform-api-stand.pp.ppdev.ru/v2_7/soap/invoke"/>
        </wsdl:port>
    </wsdl:service>
</definitions>